<ion-view view-title="Übersicht">

  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/meiki.png">
        <h2>PM69</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/pythagoras.png">
        <p>
      Pythagoras von Samos, auch Pythagoras von Kroton
      (griechisch Πυθαγόρας; geb. um 570 v. Chr. auf Samos; gest. nach 510 v. Chr. in Metapont in der Basilicata)
      war ein antiker griechischer Philosoph (Vorsokratiker) und Gründer einer einflussreichen religiös-philosophischen Bewegung.
      Als Vierzigjähriger verließ er seine griechische Heimat und wanderte nach Süditalien aus.
      Dort gründete er eine Schule und betätigte sich auch politisch.
      Trotz intensiver Bemühungen der Forschung gehört er noch heute zu den rätselhaftesten Persönlichkeiten der Antike.
      Manche Historiker zählen ihn zu den Pionieren der beginnenden griechischen Philosophie, Mathematik und Naturwissenschaft,
      andere meinen, er sei vorwiegend oder ausschließlich ein Verkünder religiöser Lehren gewesen.
      Möglicherweise konnte er diese Bereiche verbinden.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>

  </ion-content>

</ion-view>
